<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Sidebar Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            <div class="card my-4" id="block1">
                <div class="card-body" id="picture">
                    <img id="profphoto" class="img-fluid" src="{{data.profilePic}}" style="height:290px;">
                    <div class="middle">
                        <div class="text"><button id="edit-profile-pic">Update</button></div>
                    </div>
                </div>

            </div>

            <div class="card my-4" id="searchblock">
                <h3 class="card-header">Search for Recipes</h3>
                <div class="card-body">
                    <span id="protein">
                        <label for="protein-options">
                            <h5>Pick your Protein</h5>
                        </label>
                        <select class="dropdown float-left" id="protein-options">
                            <option></option>
                            <option value="chicken">Chicken</option>
                            <option value="beef">Beef</option>
                            <option value="pork">Pork</option>
                            <option value="turkey">Turkey</option>
                            <option value="fish">Fish</option>
                            <option value="shrimp">Shrimp</option>
                        </select>
                    </span><br>
                    <span id="diet">
                        <label for="diet-options">
                            <h5>Diet Options</h5>
                        </label>
                        <select class="dropdown" id="diet-options">
                            <option></option>
                            <option value="high-protein">High Protein</option>
                            <option value="low-fat">Low Fat</option>
                            <option value="low-carb">Low Carb</option>
                            <option value="low-sodium">Low Sodium</option>
                        </select>
                    </span>
                    <div id="calories">
                        <label for="calorie-range">
                            <h6>Calorie Range</h6>
                        </label>
                        <input type="number" id="min-cals" placeholder=" min" name="min-cals" min="0" max="5000"> and
                        <input type="number" id="max-cals" placeholder=" max" name="max-cals" min="0" max="5000">
                    </div>
                    <div id="meals">
                        <label for="meal-count">
                            <h6>I eat </h6>
                        </label>
                        <input type="number" id="meal-count" placeholder="" name="meal-count" min="0" max="10">
                        meals
                        per day
                    </div>
                    <button id="search-btn">Search</button>
                </div>
            </div>

        </div>
        <!-- User Name -->
        <div class="col-md-8">
            <h1 class="my-4" style="color: white; font-size: 4rem;">{{data.fullName}}</h1>

            <!-- Nutrition Breakdown -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Nutrition Breakdown</h2>
                    <div class="row">
                        <div class="card summary">
                            <span class="circle">
                                <p class="circle-text">{{data.recCals}}</p>
                            </span>
                            <div class="card-text text-center">calories</div>
                        </div>
                        <div class="card summary">
                            <span class="circle">
                                <p class="circle-text">{{data.protein}}g</p>
                            </span>
                            <div class="card-text text-center">protein</div>
                        </div>
                        <div class="card summary">
                            <span class="circle">
                                <p class="circle-text ">{{data.carbs}}g</p>
                            </span>
                            <div class="card-text text-center">carbs</div>
                        </div>
                        <div class="card summary">
                            <span class="circle">
                                <p class="circle-text">{{data.fats}}g</p>
                            </span>
                            <div class="card-text text-center">fat</div>
                        </div>
                    </div>
                    <button class="mt-3">Update Macros</button>
                </div>
            </div>

            <!-- Favorites -->
            <div class="card mb-4">
                <h2 class="card-title">favorites</h2>
                <div class="fav-scroll">
                    <ul id="insert-favs-here">
                        {{#each favs}}
                        <li>
                            <img src="{{this.pic}}" class="img-fluid">
                            <a href="{{this.url}}" target="_blank">{{this.title}}</a>
                            <button class="delete-fav-button" data-id="{{this.id}}">Delete</button>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/profilePic.js"></script>
<script src="/js/recipeSearch.js"></script>
<script src="/js/showFavorites.js"></script>