<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Sidebar Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            <div class="card my-4" id="block1">
                <div class="card-body" id="picture">
                    <img id="profphoto" class="img-fluid" src="{{data.profilePic}}" style="height:290px;">
                    <div class="middle">
                        <div class="text"><button id="edit-profile-pic">Update</button></div>
                    </div>
                </div>

            </div>

            <div class="card my-4" id="searchblock">
                <h3 class="card-header">Search for Recipes</h3>
                <div class="card-body">
                    <span id="protein">
                        <label for="protein-options">
                            <h5>Meal Types</h5>
                        </label>
                        <select class="dropdown float-left" id="protein-options">
                            <option></option>
                            <option value="chicken">Chicken</option>
                            <option value="beef">Beef</option>
                            <option value="pork">Pork</option>
                            <option value="turkey">Turkey</option>
                            <option value="fish">Fish</option>
                            <option value="shrimp">Shrimp</option>
                            <option value="vegetarian">Vegetarian</option>
                            <option value="vegetarian">Vegan</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="dessert">Dessert</option>
                        </select>
                    </span><br>
                    <span id="diet">
                        <label for="diet-options">
                            <h5>Diet Options</h5>
                        </label>
                        <select class="dropdown" id="diet-options">
                            <option></option>
                            <option value="high-protein">High Protein</option>
                            <option value="low-fat">Low Fat</option>
                            <option value="low-carb">Low Carb</option>
                            <option value="low-sodium">Low Sodium</option>
                        </select>
                    </span>

                    <div id="calories">
                        <label for="calorie-range">
                            <h6>Calorie Range</h6>
                        </label>
                        <input type="number" id="min-cals" placeholder=" min" name="min-cals" min="0" max="5000"> and
                        <input type="number" id="max-cals" placeholder=" max" name="max-cals" min="0" max="5000">
                    </div>
                    <div id="meals">
                        <label for="meal-count">
                            <h6>I eat </h6>
                        </label>
                        <input type="number" id="meal-count" placeholder="" name="meal-count" min="0" max="10">
                        meals
                        per day
                    </div>
                    <button id="search-btn">Search</button>
                </div>
            </div>

        </div>
        <!-- User Name -->
        <div class="col-md-8">
            <div class="display-name">
                <h1>{{data.fullName}}</h1>
            </div>

            <!-- Nutrition Breakdown -->
            <div class="card my-4" id="nutrition-block">
                <div class="card-body">
                    <h3 class="card-title">Nutrition Breakdown</h3>
                    <div class="row">
                        <div class="card summary">
                            <span class="yellow_circle">
                                <p class="circle-text">{{data.recCals}}</p>
                            </span>
                            <div class="card-text text-center">Calories</div>
                        </div>
                        <div class="card summary">
                            <span class="green_circle">
                                <p class="circle-text">{{data.protein}}g</p>
                            </span>
                            <div class="card-text text-center">Protein</div>
                        </div>
                        <div class="card summary">
                            <span class="blue_circle">
                                <p class="circle-text ">{{data.carbs}}g</p>
                            </span>
                            <div class="card-text text-center">Carbs</div>
                        </div>
                        <div class="card summary">
                            <span class="red_circle">
                                <p class="circle-text">{{data.fats}}g</p>
                            </span>
                            <div class="card-text text-center">Fat</div>
                        </div>
                    </div>
                    <a href="/updateMacros"><button class="float-right">Update Macros</button></a>
                </div>
            </div>

            <!-- Favorites -->
            <div class="card my-4" id="favorites-block">
                <div class="card-body">
                    <h3 class="card-title">Favorites</h3>
                    <div class="fav-scroll">
                        <ul id="insert-favs-here">
                            {{#each favs}}
                            <li>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="{{this.pic}}" class="img-fluid" style="width: 200px; height: auto;">
                                    </div>
                                    <div class="col-lg-6 text-center">

                                        <a href="{{this.url}}" target="_blank">{{this.title}}</a>
                                    </div>
                                    <div class="col-lg-2 text-right">
                                        <i class="fas fa-heart delete-fav-button" data-id="{{this.id}}"></i>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/profilePic.js"></script>
<script src="/js/recipeSearch.js"></script>
<script src="/js/showFavorites.js"></script>