<div class="card my-4" id="results-block" style="width: 70%; margin: auto;">
    <div class="card-body">

        <div class="card" id="perMealBreakdown">
            <div class="card-header">
                <h2>Recipes</h2>
            </div>
            <div class="card-body">
                <div class="text-black">
                    <h6>Based on {{suggested.mealCount}} meals per day- recommended nutrition per meal:</h6>
                    <div class="row">
                        <div class=" card summary">
                            <span class="yellow_circle">
                                <p class="circle-text">{{suggested.calsPerMeal}}</p>
                            </span>
                            <div class="card-text text-center">Calories</div>
                        </div>
                        <div class="card summary">
                            <span class="green_circle">
                                <p class="circle-text">{{suggested.proteinPerMeal}} g</p>
                            </span>
                            <div class="card-text text-center">Protein</div>
                        </div>
                        <div class="card summary">
                            <span class="blue_circle">
                                <p class="circle-text ">{{suggested.carbsPerMeal}} g</p>
                            </span>
                            <div class="card-text text-center">Carbs</div>
                        </div>
                        <div class="card summary">
                            <span class="red_circle">
                                <p class="circle-text">{{suggested.fatsPerMeal}} g</p>
                            </span>
                            <div class="card-text text-center">Fat</div>
                        </div>
                    </div>

                </div>
                <div class="back-to-profile text-right">
                    <span><a href="/profile">Back</a>
                    </span>
                </div>
            </div>
        </div>

        <ul id="insert-results-here">
            {{#each data}}
            <li>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header">
                            <h3 class="card-title">{{this.title}}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{this.pic}}" class="img-fluid" style="width: auto; height: 207;">
                    </div>
                    <div class="col-lg-6">
                        <div class="userinfo">
                            <h5>Nutrition Profile (per serving)</h5>
                            <div class="recipe-nutrition mt-2" data-serves="{{this.serves}}" id="list-{{this.id}}">
                                <p>Calories: {{{this.calories.html}}}</p>
                                <p>Protein: {{{this.protein.html}}}</p>
                                <p>Carbs: {{{this.carbs.html}}}</p>
                                <p>Fats: {{{this.fats.html}}}</p>
                                <p id="recipe-servings">Servings: {{this.serves}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-right">
                        <i class="fas fa-heart addToFavsBtn" data-json='{{this.jsonData}}'></i>
                        <br>
                        <a id="recipe-link" href="{{this.url}}" target="_blank">Recipe</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="/js/addToFavs.js"></script>
<script src="/js/showBreakdown.js"></script>