<div class="main">
    <div class="jumbotron m-auto" style="width:70%; background:transparent">
        <h1 style="color:white">Recipes</h1>
        <div>
            
        </div>
        <div class="back-to-profile text-right">
            <span><a href="/profile">Back to Profile</a>
            </span>
        </div>
    </div>

    <div class="text-white">
        <p>Based on {{suggested.mealCount}} meals per day:</p>
        <p>Recommended calories per meal: {{suggested.calsPerMeal}}</p>
        <p>Recommended protein per meal: {{suggested.proteinPerMeal}}</p>
        <p>Recommended carbs per meal: {{suggested.carbsPerMeal}}</p>
        <p>Recommended fats per meal: {{suggested.fatsPerMeal}}</p>
    </div>

    {{#each data}}
    <div class="card mx-auto my-3" style="width:70%; max-width:900px">
        <div class="card-header">
            <h3 class="card-title">{{this.title}}</h3>
        </div>
        <div class="card-body" >
            <div class="row" style="height:auto">
                <div class="col-md-4">
                    <img src="{{this.pic}}" class="img-fluid mx-auto" style="max-height:200px; display:block; margin:auto">
                </div>
                <div class="col-md-5">
                    <h4>Nutrition Profile (per serving):</h4>
                    <ul class="recipe-nutrition mt-2" data-serves="{{this.serves}}" id="list-{{this.id}}">
                        <li>Calories: {{this.calories}}</li>
                        <li>Protein: {{this.protein}}g</li>
                        <li>Carbs: {{this.carbs}}g</li>
                        <li>Fats: {{this.fats}}g</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="mt-5">
                        {{!-- <p id="recipe-cook-time">Cook Time: {{this.time}}</p> --}}
                        <p id="recipe-servings">Servings: {{this.serves}}</p>
                        <a id="recipe-link" href="{{this.url}}" target="_blank">Get the recipe!</a>
                        <br><button class="addToFavsBtn fa fa-heart p-2 mt-2" data-json='{{this.jsonData}}'></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>

<script src="/js/addToFavs.js"></script>
<script src="/js/showBreakdown.js"></script>
